body {
    font-family: Arial, sans-serif;
    /*margin: 0;
    padding: 0;
    display: flex;*/
    background-color: #cbe7ec;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: chocolate;
}

form {
    max-width: 600px;
    background-color: #bdebe1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(207, 37, 37, 0.2);
    margin: auto;
    
}
